# Samsung security features that block or crash on root. Options missing from
# your tree are simply ignored by Kconfig.
# CONFIG_UH is not set
# CONFIG_UH_RKP is not set
# CONFIG_RKP is not set
# CONFIG_KDP is not set
# CONFIG_KDP_CRED is not set
# CONFIG_FASTUH is not set
# CONFIG_SECURITY_DEFEX is not set
# CONFIG_PROCA is not set
# CONFIG_FIVE is not set
